*.swp
*.pyc
*.pkl
*.py~
*.pyc

.pytest_cache
.DS_Store
.idea

# Setuptools distribution and build folders.
/dist/
/build
keys/
__pycache__/
experiment/__*


# Virtualenv
/env


*.sublime-project
*.sublime-workspace

.idea

logs/

.ipynb_checkpoints
ghostdriver.log

htmlcov

junk
src

*.egg-info
.cache

MUJOCO_LOG.TXT


